footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.bg-light{
    font-family: 'Bungee Inline', cursive;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/* //this goes with .bg-light
    height: 100%;
    position: relative;
} */

/* .container-results{
    min-height: 100vh; /* will cover the 100% of viewport */
    /* overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; height of your footer
}  */

.container-results {
    display: flex;
    flex-wrap:  wrap;
}

