footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #c62828;
}

body{
    font-family: 'Bungee Inline', cursive;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.container-results {
    display: flex;
    flex-wrap:  wrap;
}
