body{
    /* font-family: 'Bungee Inline', cursive; */
    /* font-family: 'Pacifico', cursive; */
    background:url(../images/concrete-texture.png);
    text-shadow: 1px 1px gray;
}

.navbar{
    
    border-bottom: 3px solid #FE5F55;
    /* background-color: #7A9E9F; */
    border-radius: 1px;
    border-top: 3px solid #FE5F55;
    font-family: 'Pacifico', cursive;
    background:url(../images/green-dust-scratch.png);
}
.navbar-brand{
    font-size: 40px;
    text-shadow: 1px 1px gray;
}
.nav-link{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.bg-light{
    height: 100%;
    position: relative;
    background:url(../images/concrete-texture.png);
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}



.container-results{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: scroll;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer*/
} 

.container-results {
    display: flex;
    flex-wrap:  wrap;
}

.sticky-footer{
    position: relative;
    margin:0;
    left:0;
    bottom:0;
    width: 100%;
    border-bottom: 3px solid #FE5F55;
    /* background-color: #7A9E9F; */
    background:url(../images/green-dust-scratch.png);
    border-radius: 1px;
    border-top: 3px solid #FE5F55;
    height:67px;
}


#homePageJumbo{
    border-radius: 5px;
    padding: 10px;
    background-color:#FE5F55;
   
       
       
}
.carouselImages{
    border-radius: 5px;;
}

#jumbo-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
}

.input-group{
    margin: auto;
    width: 70%;
}
#searchButton{
    height: 55px;
    margin-left: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #FE5F55;
    border: 7px double white;
}
#results-card{
    text-align: center;
}

.card-header{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color:#7A9E9F;
}

#searchButtonHomePage{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #FE5F55;
    border: 7px double white;
    color:white;
    
}
#buy-tickets{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #FE5F55;
    border: 7px double white;
    color:white;
}
.card-img-top{
    border-radius: 5px;
}
.card-text{
    font-weight: bold;
    font-size: 20px;

}
.card-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

a {
    color: beige;
    text-emphasis: none;
}